<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/estilos.css">
    <title>CRUD de Usuarios</title>
</head>
<body>
    <h1>Lista de Usuarios</h1>
    <table>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Ap. Paterno</th>
                <th>Ap. Materno</th>
                <th>Edad</th>
                <th>Oficio</th>
                <th>Correo</th>
                <th>Telefono</th>
                <th>Direccion</th>
                <th>Acciones</th>
            </tr>
        <% usuarios.forEach(usuarios => { %>
            <tr>
                <td><%= usuarios.id_usr %></td>
                <td><%= usuarios.nombre %></td>
                <td><%= usuarios.ap_paterno %></td>
                <td><%= usuarios.ap_materno %></td>
                <td><%= usuarios.edad %></td>
                <td><%= usuarios.oficio %></td>
                <td><%= usuarios.correo %></td>
                <td><%= usuarios.telefono %></td>
                <td><%= usuarios.direccion %></td>
                <td>
                    <a href="/edit/<%= usuarios.id_usr %>">Editar</a> |
                    <a href="/delete/<%= usuarios.id_usr %>">Eliminar</a>
                </td>
            </tr>
            <% }); %>
    </table>
    <div class="boton">
        <button><a href="/agregar/">Agregar Nuevo Usuario</a></button>
    </div>
</body>
</html>