<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/estilos.css">
    <title>CRUD de Usuarios</title>
</head>
<body>
    <h1>Lista de Usuarios</h1>
    <table>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Ap. Paterno</th>
                <th>Ap. Materno</th>
                <th>Edad</th>
                <th>Oficio</th>
                <th>Correo</th>
                <th>Telefono</th>
                <th>Direccion</th>
                <th>Acciones</th>
            </tr>
        <% usuarios.forEach(usuarios => { %>
            <tr>
                <td><%= usuarios.id_usr %></td>
                <td><%= usuarios.nombre %></td>
                <td><%= usuarios.ap_paterno %></td>
                <td><%= usuarios.ap_materno %></td>
                <td><%= usuarios.edad %></td>
                <td><%= usuarios.oficio %></td>
                <td><%= usuarios.correo %></td>
                <td><%= usuarios.telefono %></td>
                <td><%= usuarios.direccion %></td>
                <td>
                    <a href="/edit/<%= usuarios.id_usr %>">Editar</a> |
                    <a href="/delete/<%= usuarios.id_usr %>">Eliminar</a>
                </td>
            </tr>
            <% }); %>
    </table>

    <h2>Agregar Nuevo Usuario</h2>
    <form action="/add" method="POST">
        <div class="formulario">
            <div class="item">
                <label for="name">Nombre:</label>
                <input type="text" id="name" name="nombre" required maxlength="20" pattern="[a-zA-Z ]+">
            </div>
            <div class="item">
                <label for="ap_paterno">Apellido Paterno:</label>
                <input type="text" id="ap_paterno" name="ap_paterno" required maxlength="20" pattern="[a-zA-Z ]+">
            </div>
            <div class="item">
                <label for="ap_materno">Apellido Materno:</label>
                <input type="text" id="ap_materno" name="ap_materno" required maxlength="20" pattern="[a-zA-Z ]+">
            </div>
            <div class="item">
                <label for="edad">Edad:</label>
                <input type="number" id="edad" name="edad" required maxlength="3" pattern="\d{1,3}">
            </div>
        </div>
        <div class="formulario">
            <div class="item">
                <label for="oficio">Oficio:</label>
                <input type="text" id="oficio" name="oficio" required maxlength="20" pattern="[a-zA-Z ]+">
            </div>
            <div class="item">
                <label for="email">Correo:</label>
                <input type="email" id="email" name="correo" required maxlength="40">
            </div>
            <div class="item">
                <label for="telefono">Telefono:</label>
                <input type="number" id="telefono" name="telefono" required maxlength="10" pattern="\d{1,10}">
            </div>
            <div class="item">
                <label for="direccion">Dirección:</label>
                <input type="text" id="direccion" name="direccion" required maxlength="50" pattern="[a-zA-Z ]+">
            </div>
        </div>
        <button type="submit">Agregar</button>
    </form>
</body>
</html>